/* SITEMAP */
.sitmap-last-child {
	display:inline-block;
	width:100%;
	padding-left:10%;
	list-style:circle !important
}

.footer-col-split {
	width: 70%;
	float: left;
	column-count:2;
	-moz-column-count:2;
	-webkit-column-count:2;
	line-height: 2.7em;
}

.col-4-sitemap {
	width: 28%; 
	float: right; 
	margin-left: 2%;
}

.col-4-sitemap h3 {
	color: #c7b299;
	padding-left:10%;
	margin: 0;
	font-weight: bold;
}

.sitemap_1 {
	display:inline-block;
	width:100%;
	padding-left:10%;
	list-style:circle !important;
}

.sitemap_2 {
	text-decoration:none !important;
	font-weight:bold;
}

.sitemap_3 {
	color: #000000;	
}

.sitemap_4 {
	display:inline-block;width:100%;
}

.sitemap_5 {
	text-decoration:none !important; 
	font-weight:bold;
}

.sitemap_6 {
	display:inline-block;
	width:100%;
	padding-left:10%;
	list-style:circle !important;
}

.sitemap_7 {
	text-decoration:none !important;
	font-weight:bold;
}

.sitemap_8 {
	text-decoration:none !important;
	color: #000000;
}

.sitemap_9 {
	list-style: none;
	padding-left:10%;
}

.sitemap_10 {
	display:inline-block;
	width:100%;
}

.sitemap_11 {
	text-decoration:none !important;
	font-weight:bold;
}

.sitemap_12 {
	text-decoration:none !important;
	color: #000000;
}

.sitemap_13 {
	list-style: none;
	padding-left:10%;
}

.sitemap_14 {
	color: #c7b299;
	padding: 1% 1% 1% 0%;
	font-weight: bold;
}